.navbar-new-top{
    background: rgb(21, 69, 212);
    
  }
  .navbar-brand{
    color: rgb(218, 230, 240);
    font-weight: 600;
  }
  .navbar-brand img{
    width: 20%;
  }
  .navbar-new-top ul{
    margin-right: 10%;
  }
  
  .navbar-new-top nav ul li{
    margin-right: 10%;
    
  }
  .navbar-nav .nav-item a {
    color: rgb(231, 220, 243);
    font-size: 14px;
    font-weight: 600;
    transition: 1s ease;
    margin-left: auto;
  }
  .navbar-nav .nav-item a:hover{
    color: #c3dae2;
  }
  .navbar-nav .nav-iteem a {
    color: rgb(231, 220, 243);
    font-size: 14px;
    font-weight: 600;
    transition: 1s ease;

  }
  .userlogin{
   margin-right: 2cm;
  }
  
  
  
  